*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: 'Open Sans', sans-serif;
}

/* inizio container big */

.container-big{
    display: flex;
    flex-wrap: wrap;
}

/* inizio navbar */

nav{
    width: 250px;
    height: calc(100vh - 100px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-logo{
    display: flex;
    align-items: center;
    gap: 5px;

    padding: 20px;
}

.img-logo img{
    width: 48px;
    height: auto;
}

.img-logo h1{
    color: white;
    font-size: 26px;
}

/* inizio sezione search */


.search .search-btn{
    padding: 10px;
    color: white;
}

.fa-solid{
    padding-right: 6px;
}

/* fine sezione search */

/* sezione playlist */

#playlist-box{
    height: calc(100vh - 510px);
    overflow-y: auto;
}

.playlist, .search{
    padding: 10px;
    font-weight: 700;
}

.new-playlist{
    color: white;
    margin: 10px;
    height: 45px;

    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-plus{
    background-color: #a3a3a3;
    padding: 10px 11.5px;
    font-size: 24px;
    color: black;
}

.name-playlist{
    color: #707070;
    padding: 5px 10px;
}


.container-nav-bottom{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.download{
    color: grey;
}

.login{
    color: white;
}

/* fine navbar */

/* inizio main */

main{
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    background-color: #141922;
    overflow-y: auto;
    z-index: 1;
}

.upgrade{
    height: 100px;
    background-color: #080b12c4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    z-index: 2;

    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
}

.upgrade span{
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
    font-weight: 700;
    color: white;
}

.top-bar-main{
    display: flex;
    gap: 20px;
    justify-content: center;
    
    padding: 10px;
    margin-top: 100px;
}

.top-bar-main a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-bottom: #28bf5d00 2px solid;
}

.played, .create-for, .popular-artist{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
    
}

.album-img{
    position: relative;
}

.album-img .fa-play{
    color: white;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-40%);
    padding: 0;
    font-size: 50px;
}

.create-for, .popular-artist{
    justify-content: flex-start;
}

h2, h3{
    padding: 20px;
    color: white;
}

h3{
    color: grey;
    font-size: smaller;
    padding: 0 20px;
}

.album{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    width: calc(100% / 6 - 10px);
    min-width: 100px;
}

.album-img img{
    width: 100%;
}

.name-album{
    text-align: center;
    
    color: white;
    font-weight: 700;
}

.name-artist{
    max-width: 170px;
    color: grey;
    font-size: small;
    text-align: center;
}

.artist-img img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.artist .name-artist{
    color: white;
    font-weight: 700;
}

/* fine main */


/* inizio footer */

footer{
    width: 100vw;
    height: 100px;
    background-color: #282828;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;

    padding: 20px;
    color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-track, .player-bar, .player-set{
    padding: 10px;
    width: 20%;

}

.player-track{
    display: flex;
    gap: 10px;
    align-items: center;
}

.player-track img{
    height: 60px;
    width: auto;

}

.track{
    font-size: smaller;
}

.track span:nth-of-type(2){
    color: grey;
}

.action-btn *{
    padding: 5px;
}

.player-bar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.player-btn{
    display: flex;
    gap: 35px;
    justify-content: center;
}

.player-btn .fa-solid{
    font-size: 22px;
}

progress{
    filter: invert(1);
    width: 80%;
}



.player-set{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 20%;
}

.player-set .action-btn{
    width: 75px;

    display: flex;
    gap: 8px;
}

footer .fa-solid{
    padding: 0;
}

.bar-set{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.bar-set label{
    font-size: small;
}


/* fine footer */


/* stilizzazione hover */

.name-album, 
.name-artist,
.img-logo img,
.new-playlist i,
.album-img img,
.login,
.download,
.upgrade span,
.top-bar-main a,
.search-btn,
.player-track span,
.player-track img,
.player-btn .fa-solid,
.action-btn,
progress{
    cursor: pointer;
}

.upgrade span:hover{
    font-size: 17px;
    transition-duration: .3s;
}
.upgrade span:not(:hover){
    font-size: 16px;
    transition-duration: .3s;
}


.top-bar-main a:hover{
    border-bottom: #28BF5C 2px solid;
    transition: .2s ease-in;
}
.top-bar-main a:not(:hover){
    opacity: .7;
    border-bottom: #28bf5d00 2px solid;

}

.search-btn:hover{
    border-left:  #28BF5C 3px solid;
}

.search-btn:not(:hover){
    opacity: .7;

}

.name.playlist:not(:hover){
    opacity: .7;
}

.download:hover{
    color: white;
}

.download:not(:hover){
    transition-duration: .3s;
}

/* play on hover on album */


.hover-icon {
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    cursor: pointer;
}

.album-img:hover .hover-icon{
    opacity: 1;
}

/* hover border transition */

.album img:hover, 
.popular-artist img:hover{
    border: #28bf5d62 3px solid;
    transition: .1s ease-in-out;
}

img:not(:hover){
    transition: .1s ease-in-out;
}


.album img:hover{
    border-radius: 10px;
}



/* stilizzazione media query 992px */
@media screen and (max-width: 992px){

    .top-bar-main{
        display: flex;
        flex-wrap: wrap;
    }

    .album{
        min-width: 160px;
    }

}

/* stilizzazione media query 805px */
@media screen and (max-width: 805px){


    .album{
        width: calc(100% / 2 - 10px);
    }

    .player-set{
        flex-direction: column;
    }

    .player-btn{
        gap: 20px;
    }

    .bar-set{
        gap: 10px;
    }

}


/* stilizzazione media query 634px */
@media screen and (max-width: 634px){

    nav{
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main{
        width: calc(100% - 50px);
    }

    .mobile-text-view, hr{
        display: none;
    }

    .img-logo{
        padding: 10px;
    }

    .img-logo img{
        width: 26px;
        height: auto;
    }

    
    .played, .create-for{
        justify-content: space-between;
    }

    
    .search, .search-btn, .fa-solid{
        padding: 0px;
    }

    .upgrade{
        width: calc(100% - 50px);
    }

    .player-track .action-btn{
        display: flex;
        flex-direction: column;
    }

    .player-bar{
        margin-left: 70px;
    }

}



/* stilizzazione media query 420px */
@media screen and (max-width: 429px){

    .top-bar-main{
        padding: 20px 20px 0 20px;
    }

    .played, .popular-artist, .create-for{
        gap: 30px;
    }


    .album{
        width: 100%;
    }

    .popular-artist{
        justify-content: center;
    }

    h2, h3{
        text-align: center;
        padding: 20px;
    }

    .popular-artist{
        width: 100%;
    }

    .player-track .fa-regular{
        padding-left: 0;
    }

    .player-track img{
        height: 50px;
        height: 50px;
    }

    .player-track span{
        display: none;
    }

    .player-track{
        padding-left: 0;
        gap: 5px;
    }

    .player-btn{
        gap: 30px;
    }

    .player-bar{
        margin: 0;

        flex-grow: 2;
    }

    .bar-set{
        gap: 5px;
    }

    .bar-set label{
        display: none;
    }

    .player-set{
        display: none;
    }


}

@media screen and (max-height:505px){

    nav{
        overflow-y: auto;
    }

    .search-btn{
        padding: 5px;

    }

    .container-nav-bottom .fa-solid,
    .login .fa-solid{
        font-size: 22px;
    }

    .login .fa-solid{
        padding-left: 2px;
    }

    .search-btn .fa-solid{
        font-size: 22px;
        text-align: center;
    }

    .player-bar{
        margin-left: 50px;
        padding: 0;
    }

    .search-btn:hover{
        border: none;
    }

}



/* stilizzazione scrollbar */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2CD165 #141922;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #141922;
}

*::-webkit-scrollbar-track:hover {
  background-color: #0A0D11;
}

*::-webkit-scrollbar-track:active {
  background-color: #141922;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #2CD165;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #2CD165;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #28BF5C;
}